<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdemo.auth.Repository.DemoAuthUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdemo.auth.Entity.DemoAuthUserDO">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="is_superuser" property="isSuperuser" />
        <result column="first_name" property="firstName" />
        <result column="last_name" property="lastName" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="is_active" property="isActive" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, is_superuser, first_name, last_name, email, phone, is_active
    </sql>

</mapper>
